{% extends "base.html.twig"%}

{% block title %}
    {{ car.make }} - {{ car.name }}
    {{ parent() }}
{% endblock%}
{% block body %}
    <h1>{{ car.name }}</h1>
    <h3>{{ car.make }}</h3>
    <p>{{ car.description }}</p>
    <table class="table table">
        <tr>
            <td>Price</td>
            <td>{{ car.price }}</td>
        </tr>
        <tr>
            <td>Year</td>
            <td>{{ car.year }}</td>
        </tr>
        <tr>
            <td>Navigation</td>
            <td>{{ car.navigation }}</td>
        </tr>
    </table>
    <a href="{{ url('orders') }}">Back</a>
{% endblock %}